---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f01186ac62117fde62b432aeca41cd76"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 08:58:44 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cc60eaa72f36283827ee9ca00e1d1cad"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"description":"LOLOLOLOL"},"relationships":{},"id":1226,"links":{"self":"/api/v1/entity/assets/1226"}},{"type":"Asset","attributes":{"description":"She
        thought and how funny it''ll seem to come out among the people that walk with
        their fur clinging close to them, thought Alice, to to"},"relationships":{},"id":1227,"links":{"self":"/api/v1/entity/assets/1227"}},{"type":"Asset","attributes":{"description":"To
        think about stopping herself before she had tired herself out with trying,
        the poor child, for I know who I am! But Id better him[...]
