---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"51ff15c6c81dc906337e399f0f856347"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 08:53:37 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"project":{"type":"Project","id":155},"description":"old"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"old","cached_display_name":"New
        Asset 1603","updated_at":"2021-06-14 08:53:38 UTC","created_at":"2021-06-14
        08:53:38 UTC","code":"New Asset 1603","sg_status_list":"wtg","open_notes_count":0},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/sequences"}},"created_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1603/relationships/created_by","related":"/api/v1/entity/api_users/60"}},"updated_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1603/relationships/updated_by","related":"/api/v1/entity/api_users/60"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/levels"}},"project":{"data":{"id":155,"name":"Photo
        Site","type":"Project"},"links":{"self":"/api/v1/entity/assets/1603/relationships/project","related":"/api/v1/entity/projects/155"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1603/relationships/linked_projects"}}},"id":1603,"links":{"self":"/api/v1/entity/assets/1603"}}}'
  recorded_at: Mon, 14 Jun 2021 08:53:38 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1603?fields=description&options%5Binclude_archived_projects%5D=false&options%5Breturn_only%5D=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5f17dcdb8fd234057ae91b9545392b90"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"Asset","attributes":{"description":"old"},"relationships":{},"id":1603,"links":{"self":"/api/v1/entity/assets/1603"}},"links":{"self":"/api/v1/entity/Asset/1603?fields=description&options%5Binclude_archived_projects%5D=false&options%5Breturn_only%5D=active"}}'
  recorded_at: Mon, 14 Jun 2021 08:53:39 GMT
- request:
    method: delete
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1603
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Jun 2021 08:53:40 GMT
recorded_with: VCR 6.0.0
