---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"006bd27ff3645b903fdda824d0337d58"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 09:08:36 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/_search
    body:
      encoding: UTF-8
      string: '{"fields":"*","sort":"code","page":{"size":1,"number":2},"filters":{"conditions":[["project.Project.id","is",122]],"logical_operator":"and"}}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"75220585b873931b52e7676e1dd6c02f"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":null,"description":"TEST
        2","step_0":null,"cached_display_name":"Test 2","updated_at":"2021-06-15T09:06:29Z","filmstrip_image":null,"image_blur_hash":null,"created_at":"2021-06-15T09:06:29Z","sg_keep":false,"sg_asset_type":null,"code":"Test
        2","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"open_notes_count":0,"sg_status_list":"wtg","step_32":null,"step_130":null,"step_131":null,"step_132":null},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/mocap_takes"}},"task_template":{"data":null,"links":{"self":"/api/v1/entity/assets/1413/relationships/task_template"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/sequences"}},"created_by":{"data":{"id":88,"name":"Denis
        Pasin","type":"HumanUser"},"links":{"self":"/api/v1/entity/assets/1413/relationships/created_by","related":"/api/v1/entity/human_users/88"}},"updated_by":{"data":{"id":88,"name":"Denis
        Pasin","type":"HumanUser"},"links":{"self":"/api/v1/entity/assets/1413/relationships/updated_by","related":"/api/v1/entity/human_users/88"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/levels"}},"project":{"data":{"id":122,"name":"TEST","type":"Project"},"links":{"self":"/api/v1/entity/assets/1413/relationships/project","related":"/api/v1/entity/projects/122"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/tags"}},"image_source_entity":{"data":null,"links":{"self":"/api/v1/entity/assets/1413/relationships/image_source_entity"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1413/relationships/linked_projects"}}},"id":1413,"links":{"self":"/api/v1/entity/assets/1413"}}],"links":{"self":"/api/v1/entity/Asset/_search","next":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=3&page%5Bsize%5D=1","prev":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=1&page%5Bsize%5D=1"}}'
  recorded_at: Tue, 15 Jun 2021 09:08:37 GMT
[...]
