---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f1995cde09c53ff3f1d2c78a670291a9"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 07:01:03 GMT
- request:
    method: put
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/400000
    body:
      encoding: UTF-8
      string: '{"description":"NOPE"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"8b67970e02e45e676ee3b7bae1191c0d","status":404,"code":104,"title":"Not
        Found","source":null,"detail":"Entity of type [Asset] with id=400000 does
        not exist.","meta":null}]}'
  recorded_at: Mon, 14 Jun 2021 07:01:04 GMT
recorded_with: VCR 6.0.0
