---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"96580b1d9a4e3d6ef6ce90e300184552"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 09:29:14 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/_search
    body:
      encoding: UTF-8
      string: '{"fields":"*","sort":"code","page":{"size":1,"number":2},"filters":{"conditions":[["project.Project.id","is",155]],"logical_operator":"and"}}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"59c3428ced9e9745cf02abaa3c14eaa6"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":null,"description":"Koya
        => Hongu\n(https://www.tb-kumano.jp/en/kumano-kodo/kohechi/)","image_blur_hash":null,"step_0":null,"cached_display_name":"Japan
        2020 - Kumano Kodo","updated_at":"2020-12-18T02:43:58Z","filmstrip_image":null,"created_at":"2020-12-18T02:19:21Z","sg_keep":false,"sg_asset_type":null,"sg_color":null,"code":"Japan
        2020 - Kumano Kodo","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"sg_status_list":"wtg","step_32":null,"step_130":null,"step_131":null,"step_132":null,"open_notes_count":0},"relationships":{"shots":{"data":[{"id":1207,"name":"Autumn
        hike !","type":"Shot"},{"id":1208,"name":"Autumn hike !","type":"Shot"},{"id":1209,"name":"Standard
        day of hike","type":"Shot"},{"id":1210,"name":"Temple visit","type":"Shot"}],"links":{"self":"/api/v1/entity/assets/1506/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/mocap_takes"}},"task_template":{"data":null,"links":{"self":"/api/v1/entity/assets/1506/relationships/task_template"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/sequences"}},"created_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1506/relationships/created_by","related":"/api/v1/entity/api_users/60"}},"updated_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1506/relationships/updated_by","related":"/api/v1/entity/api_users/60"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/levels"}},"project":{"data":{"id":155,"name":"Photo
        Site","type":"Project"},"links":{"self":"/api/v1/entity/assets/1506/relationships/project","related":"/api/v1/entity/projects/155"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/tags"}},"image_source_entity":{"data":null,"links":{"self":"/api/v1/entity/assets/1506/relationships/image_source_entity"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/sg_vendor_groups"}},"sg_toto":{"data":null,"links":{"self":"/api/v1/entity/assets/1506/relationships/sg_toto"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1506/relationships/linked_projects"}}},"id":1506,"links":{"self":"/api/v1/entity/assets/1506"}}],"links":{"self":"/api/v1/entity/Asset/_search","next":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=3&page%5Bsize%5D=1","prev":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=1&page%5Bsize%5D=1"}}'
  recorded_at: Mon, 14 Jun 2021 09:29:15 GMT
[...]
