---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b307de297ca507990f6ff17a0eb4317"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 09:07:45 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=%2A&page%5Bnumber%5D=2&page%5Bsize%5D=1&sort=code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9dc592ba6fe685732f01f8613b0cd472"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":"https://sg-media-usor-01.s3-accelerate.amazonaws.com/8aa29cf41f9261dfefada72beb433f6d53f4b69f/aed5c4f9c4186cf89eb3ee2c864ea93428e6d116/Anders_t.jpg?response-content-disposition=filename%3D%22Anders_t.jpg%22&x-amz-meta-user-id=60&x-amz-meta-user-type=ApiUser&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAYJG6Z4JIX3HY6UV6%2F20210614%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210614T090746Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=FwoGZXIvYXdzEFoaDCo%2BNK89DsMW1DBr5iKvAb7C5Pzezayq13CSa%2BJlK3LCxSFPz9LHQLFp5pFe69xCmFu1gB08L2ezRnoAuP5ZG8vHJTWcpR5R768SC9NvyBwzZMTO3R84gB%2B06I0%2BgnHzOXbw4e3hMQCorzW2yl6OEinXqpfrE3WW1gh9lTHuE7YucVqLbXLuUPjNIYFHKQx0WHQCBrrD6%2Bf8wXDnAe1u2jbIaJX%2Bp5ruBqPxNwc%2FyLYsJtPfN8f4AD2GnNMSUysoh6OchgYyLaLsnwVLjcrWMOxr0iuPdqIcc679VL2TVpxUGKhyBO%2BVyf%2Bcvs4Ewh%2BBqLBLxQ%3D%3D&X-Amz-Signature=1681d22c3e2ddbcc4f8b58cb00f1a92356e90400f4349a610c0fdeecfda59883","description":"She
        thought and how funny it''ll seem to come out among the people that walk with
        their fur clinging close to them, thought Alice, to to","image_blur_hash":null,"step_0":null,"cached_display_name":"Anders","updated_at":"2020-12-28T12:37:50Z","filmstrip_image":null,"created_at":"2015-12-01T14:07:51Z","sg_keep":false,"sg_asset_type":"Character","sg_color":null,"code":"Anders","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"sg_status_list":"fin","step_32":null,"step_130":null,"step_131":null,"step_132":null,"open_notes_count":0},"relationships":{"shots":{"data":[{"id":866,"name":"bunny_010_0050","type":"Shot"},{"id":871,"name":"bunny_010_0100","type":"Shot"},{"id":875,"name":"bunny_010_0140","type":"Shot"},{"id":881,"name":"bunny_010_0200","type":"Shot"},{"id":888,"name":"bunny_020_0070","type":"Shot"},{"id":899,"name":"bunny_020_0180","type":"Shot"},{"id":908,"name":"bunny_030_0070","type":"Shot"},{"id":909,"name":"bunny_030_0080","type":"Shot"},{"id":913,"name":"bunny_030_0120","type":"Shot"},{"id":922,"name":"bunny_040_0010","type":"Shot"},{"id":931,"name":"bunny_040[...]
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=%2A&sort=code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d596d7cd222c7c5876acb4c279e062c"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"t[...]
