---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d6b11811e2ec72ad4792fd26444bd8e0"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 09:02:39 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=code&sort=-code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3e0c1647203af118a0513bbee7f2de4a"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"code":"Young Bunny"},"relationships":{},"id":1243,"links":{"self":"/api/v1/entity/assets/1243"}},{"type":"Asset","attributes":{"code":"Whiskers"},"relationships":{},"id":1307,"links":{"self":"/api/v1/entity/assets/1307"}},{"type":"Asset","attributes":{"code":"Wedding"},"relationships":{},"id":1539,"links":{"self":"/api/v1/entity/assets/1539"}},{"type":"Asset","attributes":{"code":"Waterfall"},"relationships":{},"id":1265,"links":{"self":"/api/v1/entity/assets/1265"}},{"type":"Asset","attributes":{"code":"Vine"},"relationships":{},"id":1306,"links":{"self":"/ap[...]
