---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7457bc64c30b10165153583dd3b0e178"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:56:05 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/_search
    body:
      encoding: UTF-8
      string: '{"fields":"*","filters":{"conditions":[["id","is","1226"],["id","is","1227"]],"logical_operator":"or"}}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f1942af7cce4c9b72bfe87dbcd111a3a"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":"https://sg-media-usor-01.s3-accelerate.amazonaws.com/dbbe32a76cc467b8460fc327e6f230075b293b1a/af5bcc25e9dd8c33817cc1e77911320979429640/Alice_t.jpg?response-content-disposition=filename%3D%22Alice_t.jpg%22&x-amz-meta-user-id=93&x-amz-meta-user-type=ApiUser&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAYJG6Z4JIU46XQZSU%2F20210616%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210616T085606Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=FwoGZXIvYXdzEIr%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDKkCFaILkR8pYxpUciKvASz1h3G6G9CjYCxJLlCRRHSMz9A9u2cbnxI7N%2BA0kcv3ufQq5M5cFINE%2B%2Fa%2FRR45uPYi%2FQOhQv8RidY5nlXSHp6mctD0NM%2FE7ycaCE0v4C1Upvx0XkaizrKTZbcvtMBJ05UPI9zECRaTGuK%2BWEJeT3PkPA0g%2FpmDR9n5zit7PhqqJePbRRMl1il3mSHe4N3G52ZU%2Bkb8fj4Zmkx8DoPJwHdq27G59S1FW87cyJ8yxZYopfOmhgYyLU3K75F%2Fmvq0wdK9EPuvVg4HjYhBUSP4Md6exAWqjxnZVnJGqsg9rv50Iru63Q%3D%3D&X-Amz-Signature=01dbad786cb65eb3cfac33d9415eeeee6bed379bd1d2fcbdd60cddf2bab6ef7e","description":"Now,
        thought Alice, Well, I hardly know No more, thank ye Im better now but Im
        grown up now, she added in a hurry. No, look","step_0":null,"cached_display_name":"Alice","updated_at":"2015-12-01T19:20:16Z","filmstrip_image":null,"image_blur_hash":null,"created_at":"2015-12-01T14:07:51Z","sg_keep":false,"sg_asset_type":"Character","code":"Alice","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"open_notes_count":0,"sg_status_list":"fin","step_32":null,"step_130":null,"step_131":null,"step_132":null},"relationships":{"shots":{"data":[{"id":863,"name":"bunny_010_0020","type":"Shot"},{"id":883,"name":"bunny_020_0020","type":"Shot"},{"id":889,"name":"bunny_020_0080","type":"Shot"},{"id":896,"name":"bunny_020_0150","type":"Shot"},{"id":904,"name":"bunny_030_0030","type":"Shot"},{"id":916,"name":"bunny_030_0150","type":"Shot"},{"id":917,"name":"bunny_030_0160","type":"Shot"},{"id":926,"name":"bunny_040_0050","type":"Shot"},{"id":927,"name":"bunny_040_0060","type":"Shot"},{"id":930,"name":"bunny_040_0090","type":"Shot"},{"id":951,"name":"bunny_050[...]
