---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"eb90100ad0a5ddc68698925a74412613"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 07:55:09 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/_summarize
    body:
      encoding: UTF-8
      string: '{"summary_fields":[{"field":"not_existing_field","type":"not_possible"}]}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"f65637b631f38dc3028215652310b9dd","status":400,"code":103,"title":"Request
        Parameters invalid.","source":{"summary_fields":{"0":{"type":["type must be
        one of: record_count, count, sum, maximum, minimum, average, earliest, latest,
        percentage, status_percentage, status_list, checked, unchecked"]}}},"detail":null,"meta":null}]}'
  recorded_at: Tue, 15 Jun 2021 07:55:10 GMT
recorded_with: VCR 6.0.0
