---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a09a01d6e4dc9e68bc6c5e1431becf88"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:55:52 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"project":{"type":"Project","id":122},"description":"old"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"old","cached_display_name":"New
        Asset 1484","updated_at":"2021-06-16 08:55:53 UTC","created_at":"2021-06-16
        08:55:53 UTC","code":"New Asset 1484","open_notes_count":0,"sg_status_list":"wtg"},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/sequences"}},"created_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1484/relationships/created_by","related":"/api/v1/entity/api_users/93"}},"updated_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1484/relationships/updated_by","related":"/api/v1/entity/api_users/93"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/levels"}},"project":{"data":{"id":122,"name":"TEST","type":"Project"},"links":{"self":"/api/v1/entity/assets/1484/relationships/project","related":"/api/v1/entity/projects/122"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1484/relationships/linked_projects"}}},"id":1484,"links":{"self":"/api/v1/entity/assets/1484"}}}'
  recorded_at: Wed, 16 Jun 2021 08:55:53 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/1484?fields=description&options%5Binclude_archived_projects%5D=false&options%5Breturn_only%5D=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"134a923378e8800d69de8eb7c1be7373"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"Asset","attributes":{"description":"old"},"relationships":{},"id":1484,"links":{"self":"/api/v1/entity/assets/1484"}},"links":{"self":"/api/v1/entity/Asset/1484?fields=description&options%5Binclude_archived_projects%5D=false&options%5Breturn_only%5D=active"}}'
  recorded_at: Wed, 16 Jun 2021 08:55:54 GMT
- request:
    method: delete
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/1484
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Jun 2021 08:55:55 GMT
recorded_with: VCR 6.0.0
