---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"176b4b1f15b105aadd98f673f912ea7c"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:54:49 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/schema/Asset/fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5dcd6c5afa08b86699f8de8e017ee53e"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"image":{"name":{"value":"Thumbnail","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"image","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"image_sorts":{"value":null,"editable":false},"image_use_query":{"value":true,"editable":false},"render_method":{"value":"use_image_query","editable":false},"allowed_render_methods":{"value":["use_uploaded_image","use_image_query"],"editable":false}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"shots":{"name":{"value":"Shots","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Shot"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"description":{"name":{"value":"Description","editable":true},"description":{"value":"A
        description of each individual Asset","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"text","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"regex_validation":{"value":"","editable":true},"regex_validation_enabled":{"value":null,"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"parents":{"name":{"value":"Parent
        Assets","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Asset"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"assets":{"name":{"value":"Sub
        Assets","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Asset"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"tasks":{"name":{"value":"Tasks","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Task"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":false,"editable":false}},"mocap_takes":{"name":{"value":"Mocap
        Takes","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["MocapTake"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"task_template":{"name":{"value":"Task
        Template","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["TaskTemplate"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"step_0":{"name":{"value":"ALL
        TASKS","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"pivot_column","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":false}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"addressings_cc":{"name":{"value":"Cc","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Group","HumanUser"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"sequences":{"name":{"value":"Sequence","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Sequence"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"cached_display_name":{"name":{"value":"Cached
        Display Name","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"text","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":false},"regex_validation":{"value":"","editable":false},"regex_validation_enabled":{"value":null,"editable":false}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":false,"editable":false}},"updated_at":{"name":{"value":"Date
        Updated","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"date_time","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"filmstrip_image":{"name":{"value":"Filmstrip
        Thumbnail","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"image","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"image_sorts":{"value":null,"editable":false},"image_use_query":{"value":false,"editable":false},"render_method":{"value":null,"editable":false},"allowed_render_methods":{"value":null,"editable":false}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":false,"editable":false}},"created_by":{"name":{"value":"Created
        by","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"entity","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["HumanUser","ApiUser"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"updated_by":{"name":{"value":"Updated
        by","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"entity","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["HumanUser","ApiUser"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"image_blur_hash":{"name":{"value":"Thumbnail
        Blur Hash","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"text","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":false},"regex_validation":{"value":"","editable":false},"regex_validation_enabled":{"value":null,"editable":false}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":false,"editable":false}},"created_at":{"name":{"value":"Date
        Created","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"date_time","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"sg_keep":{"name":{"value":"Keep","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"checkbox","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":true},"summary_default":{"value":"none","editable":true}},"visible":{"value":true,"editable":true},"ui_value_displayable":{"value":true,"editable":false}},"sg_versions":{"name":{"value":"Version
        <-> Link","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Version"],"editable":false}},"visible":{"value":true,"editable":true},"ui_value_displayable":{"value":true,"editable":false}},"sg_published_files":{"name":{"value":"Published
        File <-> Link","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["PublishedFile"],"editable":false}},"visible":{"value":true,"editable":true},"ui_value_displayable":{"value":true,"editable":false}},"episodes":{"name":{"value":"Episodes","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Episode"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"levels":{"name":{"value":"Levels","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Level"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"id":{"name":{"value":"Id","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"number","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"project":{"name":{"value":"Project","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Project"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"tags":{"name":{"value":"Tags","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"multi_entity","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"valid_types":{"value":["Tag"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"sg_asset_type":{"name":{"value":"Type","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"list","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":true},"summary_default":{"value":"none","editable":true},"valid_values":{"value":["Character","Environment","Prop","FX","Graphic","Matte
        Painting","Vehicle","Weapon","Concept","Theme","Part"],"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"code":{"name":{"value":"Asset
        Name","editable":true},"description":{"value":"The name of each individual
        Asset","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"text","editable":false},"editable":{"value":true,"editable":false},"mandatory":{"value":true,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":true},"regex_validation":{"value":"","editable":true},"regex_validation_enabled":{"value":null,"editable":true}},"visible":{"value":true,"editable":false},"ui_value_displayable":{"value":true,"editable":false}},"image_source_entity":{"name":{"value":"Image
        Source Entity","editable":true},"description":{"value":"","editable":true},"custom_metadata":{"value":"","editable":true},"entity_type":{"value":"Asset","editable":false},"data_type":{"value":"entity","editable":false},"editable":{"value":false,"editable":false},"mandatory":{"value":false,"editable":false},"unique":{"value":false,"editable":false},"properties":{"default_value":{"value":null,"editable":false},"summary_default":{"value":"none","editable":false},"val[...]
