---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a29c3ad8c1630848ab481e1d938ef51"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Fri, 15 Jan 2021 09:33:52 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/schema/Asset
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9f79b3e12d52b0d5f05d7001bd0595f2"'
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"name":{"value":"Asset","editable":false},"visible":{"value":true,"editable":false}},"links":{"self":"/api/v1/schema/Asset"}}'
  recorded_at: Fri, 15 Jan 2021 09:33:53 GMT
recorded_with: VCR 6.0.0
