---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6c3bf2cce319f3f957af45a4fd5bde22"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 09:29:00 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/_search
    body:
      encoding: UTF-8
      string: '{"fields":"description","filters":{"conditions":[["project.Project.id","is",155]],"logical_operator":"and"}}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1fcf8f16c4b5ba10d0030d9bb4796442"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"description":"Tottori 2020"},"relationships":{},"id":1475,"links":{"self":"/api/v1/entity/assets/1475"}},{"type":"Asset","attributes":{"description":"Kyushu
        2020"},"relationships":{},"id":1476,"links":{"self":"/api/v1/entity/assets/1476"}},{"type":"Asset","attributes":{"description":"Japan
        2019"},"relationships":{},"id":1477,"links":{"self":"/api/v1/entity/assets/1477"}},{"type":"Asset","attributes":{"description":"Koya
        => Hongu\n(https://www.tb-kumano.jp/en/kumano-kodo/kohechi/)"},"relationships":{},"id":1506,"links":{"self":"/api/v1/entity/assets/1506"}},{"type":"Asset","attributes":{"description":null},"relationships":{},"id":1538,"links":{"self":"/api/v1/entity/assets/1538"}},{"type":"Asset","attributes":{"description":"A
        wedding in Kyoto in March 2018"},"relationships":{},"id":1539,"links":{"self":"/api/v1/entity/assets/1539"}}],"links":{"self":"/api/v1/entity/Asset/_search","next":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=2&page%5Bsize%5D=500"}}'
  recorded_at: Mon, 14 Jun 2021 09:29:01 GMT
recorded_with: VCR 6.0.0
