---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c98d0c29ae7b2bb06fae214f73f7b457"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 08:58:40 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=%2A&filter%5Bnot_existing_field%5D=NOPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"0ed0f1b77209f7d7ec49533af04544cb","status":400,"code":103,"title":"API
        read() Asset.not_existing_field doesn''t exist.","source":{"Asset.not_existing_field":"
        does not exist. Value: {\"path\"=\u003E\"not_existing_field\", \"relation\"=\u003E\"is\",
        \"values\"=\u003E[\"NOPE\"]}"},"detail":null,"meta":null}]}'
  recorded_at: Mon, 14 Jun 2021 08:58:41 GMT
recorded_with: VCR 6.0.0
