---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"df68ff18aba5e901ba4c5e73dce2fe70"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 09:07:38 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"project":{"type":"Project","id":122},"description":"old"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"old","cached_display_name":"New
        Asset 1423","updated_at":"2021-06-15 09:07:39 UTC","created_at":"2021-06-15
        09:07:39 UTC","code":"New Asset 1423","open_notes_count":0,"sg_status_list":"wtg"},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sequences"}},"created_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1423/relationships/created_by","related":"/api/v1/entity/api_users/93"}},"updated_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1423/relationships/updated_by","related":"/api/v1/entity/api_users/93"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/levels"}},"project":{"data":{"id":122,"name":"TEST","type":"Project"},"links":{"self":"/api/v1/entity/assets/1423/relationships/project","related":"/api/v1/entity/projects/122"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/linked_projects"}}},"id":1423,"links":{"self":"/api/v1/entity/assets/1423"}}}'
  recorded_at: Tue, 15 Jun 2021 09:07:39 GMT
- request:
    method: delete
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/1423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Jun 2021 09:07:40 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"743f041c917f875a158bdec0e416d085"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=1&page%5Bsize%5D=1","next":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=2&page%5Bsize%5D=1"}}'
  recorded_at: Tue, 15 Jun 2021 09:07:41 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/1423?revive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6ca5e064f1847491126de36021356266"'
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","id":1423},"links":{"self":"/api/v1/entity/Asset/1423"},"meta":{"did_revive":true}}'
  recorded_at: Tue, 15 Jun 2021 09:07:42 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fab9c7c239706ed1b9e6b6e9627a5c93"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":null,"description":"old","step_0":null,"cached_display_name":"New
        Asset 1423","updated_at":"2021-06-15T09:07:42Z","filmstrip_image":null,"image_blur_hash":null,"created_at":"2021-06-15T09:07:39Z","sg_keep":false,"sg_asset_type":null,"code":"New
        Asset 1423","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"open_notes_count":0,"sg_status_list":"wtg","step_32":null,"step_130":null,"step_131":null,"step_132":null},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/mocap_takes"}},"task_template":{"data":null,"links":{"self":"/api/v1/entity/assets/1423/relationships/task_template"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sequences"}},"created_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1423/relationships/created_by","related":"/api/v1/entity/api_users/93"}},"updated_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1423/relationships/updated_by","related":"/api/v1/entity/api_users/93"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/levels"}},"project":{"data":{"id":122,"name":"TEST","type":"Project"},"links":{"self":"/api/v1/entity/assets/1423/relationships/project","related":"/api/v1/entity/projects/122"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/tags"}},"image_source_entity":{"data":null,"links":{"self":"/api/v1/entity/assets/1423/relationships/image_source_entity"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1423/relationships/linked_projects"}}},"id":1423,"links":{"self":"/api/v1/entity/assets/1423"}}],"links":{"self":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=1&page%5Bsize%5D=1","next":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1423&page%5Bnumber%5D=2&page%5Bsize%5D=1"}}'
  recorded_at: Tue, 15 Jun 2021 09:07:42 GMT
- request:
    method: delete
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/1423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Jun 2021 09:07:43 GMT
recorded_with: VCR 6.0.0
