---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SHOTGUN_SCRIPT_NAME>&client_secret=<SHOTGUN_SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f4f154eab1f2f0c5e9c305f2575eab2d"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:54:41 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1595c6512eb5e5f33de33c33ba7a5f7a"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shotgun_version":"v8.26.0.8069 (build b48e91a)","api_version":"v1","shotgun_version_number":"8.26.0.8069","shotgun_build_number":"b48e91a","portfolio_version":"8.26.0.8069","unified_login_flow_enabled":true,"user_authentication_method":"default","site_id":"48138","site_name":"com_shotgunstudio_pasind3_prod"}}'
  recorded_at: Wed, 16 Jun 2021 08:54:42 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"91ea2ac637b88834315af1116a14fe8b"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:54:42 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d85fd02d1c09b78969d5ae35e46b4531"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shotgun_version":"v8.26.0.8069 (build b48e91a)","api_version":"v1","shotgun_version_number":"8.26.0.8069","shotgun_build_number":"b48e91a","portfolio_version":"8.26.0.8069","unified_login_flow_enabled":true,"user_authentication_method":"oxygen","site_id":"56086","site_name":"com_shotgunstudio_pasind3_prod_id"}}'
  recorded_at: Wed, 16 Jun 2021 08:54:43 GMT
recorded_with: VCR 6.0.0
