---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d52c0044643f5f1f052b1f74fb8b74f"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 09:08:52 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset?fields=%2A&page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"54b786402500c9582564031dafa04f15"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":"https://sg-media-usor-01.s3-accelerate.amazonaws.com/dbbe32a76cc467b8460fc327e6f230075b293b1a/af5bcc25e9dd8c33817cc1e77911320979429640/Alice_t.jpg?response-content-disposition=filename%3D%22Alice_t.jpg%22&x-amz-meta-user-id=93&x-amz-meta-user-type=ApiUser&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAYJG6Z4JIWNMCEP5H%2F20210615%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210615T090853Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=FwoGZXIvYXdzEHIaDHrGrTF3tOfee8M4FSKvAbTaHRFawD1wj%2FUhgwLP84qBYsd8vPZNKYkfR4%2BJfGEbxaAdsFHLcdibOWdcbYWEY4MBA8XUf0Mj5CIFV1kMfVYtnbj7UN65VbV5YKW1CLBqgAgWBcsiuBlqaVYEXxPsvMMvE%2FXY6DwGqIOKrwoI710Hr2NTXOWRJFMveH0Q2uBleitRLwDZncCLk732XumlYXtq5LZGww%2BmvBZXEwzCos4Oy4aqTJIjnnko4XXeuN0ow9mhhgYyLaYb8MfcxsEDq3AS9q1r6duHJqaTPy7eWLrjDryvH%2F4A5xAy9lgP9tqvgDZaXQ%3D%3D&X-Amz-Signature=3179efef4f17823e81459340199c1cea4c16b3069c1bedf6b9b6f556d996a907","description":"Now,
        thought Alice, Well, I hardly know No more, thank ye Im better now but Im
        grown up now, she added in a hurry. No, look","step_0":null,"cached_display_name":"Alice","updated_at":"2015-12-01T19:20:16Z","filmstrip_image":null,"image_blur_hash":null,"created_at":"2015-12-01T14:07:51Z","sg_keep":false,"sg_asset_type":"Character","code":"Alice","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"open_notes_count":0,"sg_status_list":"fin","step_32":null,"step_130":null,"step_131":null,"step_132":null},"relationships":{"shots":{"data":[{"id":863,"name":"bunny_010_0020","type":"Shot"},{"id":883,"name":"bunny_020_0020","type":"Shot"},{"id":889,"name":"bunny_020_0080","type":"Shot"},{"id":896,"name":"bunny_020_0150","type":"Shot"},{"id":904,"name":"bunny_030_0030","type":"Shot"},{"id":916,"name":"bunny_030_0150","type":"Shot"},{"id":917,"name":"bunny_030_0160","type":"Shot"},{"id":926,"name":"bunny_040_0050","type":"Shot"},{"id":927,"name":"bunny_040_0060","type":"Shot"},{"id":930,"name":"bunny_040_0090","type":"Shot"},{"id":951,"name":"bunny_050[...]
