---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d1068d3c73f4b03555e58600b5232028"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 07:58:15 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/_summarize
    body:
      encoding: UTF-8
      string: '{"filters":{"conditions":[["project.Project.id","is",155]],"logical_operator":"and"},"summary_fields":[{"type":"record_count","field":"id"}]}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9eeaf7739da5e34b026fb8a3724c1f8f"'
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"summaries":{"id":6},"groups":[]}}'
  recorded_at: Tue, 15 Jun 2021 07:58:16 GMT
recorded_with: VCR 6.0.0
