---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?grant_type=password&password=<PASSWORD>&username=<USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a1c1319b807df88d9721a7e7765525f9"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:54:44 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1595c6512eb5e5f33de33c33ba7a5f7a"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shotgun_version":"v8.26.0.8069 (build b48e91a)","api_version":"v1","shotgun_version_number":"8.26.0.8069","shotgun_build_number":"b48e91a","portfolio_version":"8.26.0.8069","unified_login_flow_enabled":true,"user_authentication_method":"default","site_id":"48138","site_name":"com_shotgunstudio_pasind3_prod"}}'
  recorded_at: Wed, 16 Jun 2021 08:54:45 GMT
recorded_with: VCR 6.0.0
