---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d480a4cd069fc0214b5dd89382863ba"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Wed, 16 Jun 2021 08:56:54 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/preferences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cdd693d10f4ee5fe4d227e4abfad42d6"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"format_date_fields":"08/04/22 OR 04/08/22 (depending on the
        Month order preference)","date_component_order":"month_day","format_time_hour_fields":"12
        hour","format_currency_fields_display_dollar_sign":false,"format_currency_fields_decimal_options":"$1,000.99","format_currency_fields_negative_options":"-
        $1,000","format_number_fields":"1,000","format_float_fields":"9,999.99","format_float_fields_rounding":"9.999999","format_footage_fields":"10-05","support_local_storage":true,"view_master_settings":"{\"status_groups\":[{\"name\":\"Upcoming\",\"code\":\"upc_stgr\",\"status_list\":[\"wtg\",\"rdy\"]},{\"name\":\"Active\",\"code\":\"act_stgr\",\"status_list\":[\"ip\",\"kickbk\",\"rev\",\"act\",\"rsk\",\"blk\",\"late\",\"opn\",\"pndng\",\"tkt\",\"push\",\"rrq\",\"vwd\",\"out\"]},{\"name\":\"Done\",\"code\":\"done_stgr\",\"status_list\":[\"fin\",\"cmpt\",\"apr\",\"cbb\",\"clsd\",\"cfrm\",\"dlvr\",\"recd\",\"res\"]}],\"entity_fields\":{\"Task\":[\"content\",\"sg_description\",\"sg_status_list\",\"due_date\",\"task_assignees\",\"task_reviewers\",\"time_logs_sum\"],\"Shot\":[\"code\",\"description\",\"sg_status_list\",\"created_at\",\"sg_cut_in\",\"sg_cut_out\",\"sg_cut_duration\",\"sg_cut_order\"],\"Asset\":[\"code\",\"description\",\"sg_status_list\",\"created_at\"],\"Scene\":[\"code\",\"sg_status_list\",\"created_at\"],\"Element\":[\"code\",\"sg_status_list\",\"created_at\"],\"Release\":[\"code\",\"sg_status_list\",\"created_at\"],\"ShootDay\":[\"code\",\"sg_status_list\",\"created_at\"],\"MocapTake\":[\"code\",\"sg_status_list\",\"created_at\"],\"MocapSetup\":[\"code\",\"sg_status_list\",\"created_at\"],\"Camera\":[\"code\",\"sg_status_list\",\"created_at\"],\"MocapTakeRange\":[\"code\",\"sg_status_list\",\"created_at\"],\"Sequence\":[\"code\",\"sg_status_list\",\"created_at\"],\"Level\":[\"code\",\"sg_status_list\",\"created_at\"],\"Episode\":[\"code\",\"sg_status_list\",\"created_at\"],\"Version\":[\"code\",\"description\",\"sg_status_list\"]},\"entity_fields_fixed\":{\"Asset\":[\"code\",\"description\",\"sg_status_list\"],\"Shot\":[\"code\",\"description\",\"sg_status_list\"],\"Task\":[\"content\",\"sg_status_list\",\"due_date\",\"task_assignees\",\"task_reviewers\",\"time_logs_sum\"],\"Scene\":[\"code\",\"description\",\"sg_status_list\"],\"Element\":[\"code\",\"description\",\"sg_status_list\"],\"Release\":[\"code\",\"description\",\"sg_status_list\"],\"ShootDay\":[\"code\",\"description\",\"sg_status_list\"],\"MocapTake\":[\"code\",\"description\",\"sg_status_list\"],\"MocapSetup\":[\"code\",\"description\",\"sg_status_list\"],\"Camera\":[\"code\",\"description\",\"sg_status_list\"],\"MocapTakeRange\":[\"code\",\"description\",\"sg_status_list\"],\"Sequence\":[\"code\",\"description\",\"sg_status_list\"],\"Level\":[\"code\",\"description\",\"sg_status_list\"],\"Episode\":[\"code\",\"description\",\"sg_status_list\"],\"Version\":[\"code\",\"description\",\"sg_status_list\"]},\"board_sorting\":{\"Upcoming\":{\"Task\":[{\"direction\":\"asc\",\"field_name\":\"due_date\"},{\"direction\":\"asc\",\"field_name\":\"content\"}]},\"Done\":{\"Task\":[{\"direction\":\"desc\",\"field_name\":\"due_date\"},{\"direction\":\"asc\",\"field_name\":\"content\"}]},\"Active\":{\"Task\":[{\"direction\":\"asc\",\"field_name\":\"due_date\"},{\"direction\":\"asc\",\"field_name\":\"content\"}]}},\"status_default\":{\"Version\":{\"pending_review_status\":[\"rev\"],\"viewed_review_status\":[\"vwd\"]},\"Task\":{\"final_review_status\":[\"fin\"]}},\"entity_forms\":{\"TimeLog\":[\"date\",\"description\",\"duration\"],\"Note\":[\"content\",\"attachments\"]},\"entity_forms_fixed\":{\"TimeLog\":[\"date\",\"description\",\"duration\"],\"Note\":[\"content\",\"attachments\"]},\"enable_timelog_at_version_creation\":false,\"websockets_port\":9006,\"auto_update\":true}","duration_units":"days","hours_per_day":8.0,"enable_rv_integration":true,"enable_shotgun_review_for_rv":false},"links":{"self":"/api/v1/preferences"}}'
  recorded_at: Wed, 16 Jun 2021 08:56:55 GMT
recorded_with: VCR 6.0.0
