---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c96520751a9c5c3ec216864c02b5af94"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 09:07:03 GMT
- request:
    method: get
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset?fields=%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"88655d8274dfad59e7dfcf5b4d7534b3"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":"https://sg-media-usor-01.s3-accelerate.amazonaws.com/dbbe32a76cc467b8460fc327e6f230075b293b1a/af5bcc25e9dd8c33817cc1e77911320979429640/Alice_t.jpg?response-content-disposition=filename%3D%22Alice_t.jpg%22&x-amz-meta-user-id=93&x-amz-meta-user-type=ApiUser&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAYJG6Z4JIY45UIQ5K%2F20210615%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210615T090704Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=FwoGZXIvYXdzEHIaDDSqFPYB%2BLe1gTW9hyKvAWdRa2lWzVgNIZN9F9y6unXWKutnE6vL16kkNtcJ0hHHJuKEDE789wuDRQ1UJ5xU4xm6xcA7HfuuuznX7XGhKN1ANIrCCdTaQQP9kpO2rHV0nK8NowEkVtDvbQH8Vf6bFUn0pAFCr9pJk1HIUfTw7fJ%2FHeqgD4MauKBhPSq%2FVovpVDhDiv%2BPlvcxLh%2B5ugAFv9wb%2Fhr%2B4ba6QxrXOVMRML9CERrQRbsqVEaHWQvvaVMo8NShhgYyLbJqSAzxi3YCxOHWMo7i14FR9PPUiTlSm3NUG0cGxqdTLNLB7slt%2BGX645Jl1w%3D%3D&X-Amz-Signature=2d59318123196d83c474ced1c4fdf9ab9e2032197d6e3f571977c86e024c40d6","description":"Now,
        thought Alice, Well, I hardly know No more, thank ye Im better now but Im
        grown up now, she added in a hurry. No, look","step_0":null,"cached_display_name":"Alice","updated_at":"2015-12-01T19:20:16Z","filmstrip_image":null,"image_blur_hash":null,"created_at":"2015-12-01T14:07:51Z","sg_keep":false,"sg_asset_type":"Character","code":"Alice","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"open_notes_count":0,"sg_status_list":"fin","step_32":null,"step_130":null,"step_131":null,"step_132":null},"relationships":{"shots":{"data":[{"id":863,"name":"bunny_010_0020","type":"Shot"},{"id":883,"name":"bunny_020_0020","type":"Shot"},{"id":889,"name":"bunny_020_0080","type":"Shot"},{"id":896,"name":"bunny_020_0150","type":"Shot"},{"id":904,"name":"bunny_030_0030","type":"Shot"},{"id":916,"name":"bunny_030_0150","type":"Shot"},{"id":917,"name":"bunny_030_0160","type":"Shot"},{"id":926,"name":"bunny_040_0050","type":"Shot"},{"id":927,"name":"bunny_040_0060","type":"Shot"},{"id":930,"name":"bunny_040_0090","type":"Shot"},{"id":951,"name":"bunny_050[...]
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"description":"This is a desc","project":{"id":122,"type":"Project"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"This is a desc","cached_display_name":"New
        Asset 1416","updated_at":"2021-06-15 09:07:06 UTC","created_at":"2021-06-15
        09:07:06 UTC","code":"New Asset 1416","open_notes_count":0,"sg_status_list":"wtg"},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/sequences"}},"created_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1416/relationships/created_by","related":"/api/v1/entity/api_users/93"}},"updated_by":{"data":{"id":93,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1416/relationships/updated_by","related":"/api/v1/entity/api_users/93"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/levels"}},"project":{"data":{"id":122,"name":"TEST","type":"Project"},"links":{"self":"/api/v1/entity/assets/1416/relationships/project","related":"/api/v1/entity/projects/122"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1416/relationships/linked_projects"}}},"id":1416,"links":{"self":"/api/v1/entity/assets/1416"}}}'
  recorded_at: Tue, 15 Jun 2021 09:07:06 GMT
[...]
