---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07cf739b4cfeca81ed99ff5f44606e93"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 07:15:11 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"project":{"type":"Project","id":155},"description":"old"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"old","cached_display_name":"New
        Asset 1593","updated_at":"2021-06-14 07:15:11 UTC","created_at":"2021-06-14
        07:15:11 UTC","code":"New Asset 1593","sg_status_list":"wtg","open_notes_count":0},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sequences"}},"created_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1593/relationships/created_by","related":"/api/v1/entity/api_users/60"}},"updated_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1593/relationships/updated_by","related":"/api/v1/entity/api_users/60"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/levels"}},"project":{"data":{"id":155,"name":"Photo
        Site","type":"Project"},"links":{"self":"/api/v1/entity/assets/1593/relationships/project","related":"/api/v1/entity/projects/155"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/linked_projects"}}},"id":1593,"links":{"self":"/api/v1/entity/assets/1593"}}}'
  recorded_at: Mon, 14 Jun 2021 07:15:12 GMT
- request:
    method: delete
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1593
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Jun 2021 07:15:12 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b710ae6781104ee517e68e632e1cf83"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=1&page%5Bsize%5D=1","next":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=2&page%5Bsize%5D=1"}}'
  recorded_at: Mon, 14 Jun 2021 07:15:13 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1593?revive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ddbe5de9eb8d3effb349e9209105aa61"'
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","id":1593},"links":{"self":"/api/v1/entity/Asset/1593"},"meta":{"did_revive":true}}'
  recorded_at: Mon, 14 Jun 2021 07:15:14 GMT
- request:
    method: get
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8755d42be54527729bb8be11680e38f9"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"image":null,"description":"old","image_blur_hash":null,"step_0":null,"cached_display_name":"New
        Asset 1593","updated_at":"2021-06-14T07:15:14Z","filmstrip_image":null,"created_at":"2021-06-14T07:15:11Z","sg_keep":false,"sg_asset_type":null,"sg_color":null,"code":"New
        Asset 1593","sg_outsource":false,"sg_creative_brief":null,"step_13":null,"step_129":null,"step_16":null,"step_137":null,"step_15":null,"step_14":null,"sg_status_list":"wtg","step_32":null,"step_130":null,"step_131":null,"step_132":null,"open_notes_count":0},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/mocap_takes"}},"task_template":{"data":null,"links":{"self":"/api/v1/entity/assets/1593/relationships/task_template"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sequences"}},"created_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1593/relationships/created_by","related":"/api/v1/entity/api_users/60"}},"updated_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1593/relationships/updated_by","related":"/api/v1/entity/api_users/60"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/levels"}},"project":{"data":{"id":155,"name":"Photo
        Site","type":"Project"},"links":{"self":"/api/v1/entity/assets/1593/relationships/project","related":"/api/v1/entity/projects/155"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/tags"}},"image_source_entity":{"data":null,"links":{"self":"/api/v1/entity/assets/1593/relationships/image_source_entity"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_vendor_groups"}},"sg_toto":{"data":null,"links":{"self":"/api/v1/entity/assets/1593/relationships/sg_toto"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1593/relationships/linked_projects"}}},"id":1593,"links":{"self":"/api/v1/entity/assets/1593"}}],"links":{"self":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=1&page%5Bsize%5D=1","next":"/api/v1/entity/Asset?fields=%2A&filter%5Bid%5D=1593&page%5Bnumber%5D=2&page%5Bsize%5D=1"}}'
  recorded_at: Mon, 14 Jun 2021 07:15:15 GMT
- request:
    method: delete
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1593
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Jun 2021 07:15:16 GMT
recorded_with: VCR 6.0.0
