---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"31251e5eb7c12072bd3971c3cc6fcd82"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 15 Jun 2021 09:08:23 GMT
- request:
    method: post
    uri: https://pasind3-prod-id.shotgrid.autodesk.com/api/v1/entity/Asset/_search
    body:
      encoding: UTF-8
      string: '{"fields":"description","filters":{"conditions":[["project.Project.id","is",122]],"logical_operator":"and"}}'
    headers:
      Content-Type:
      - application/vnd+shotgun.api3_hash+json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"437b7d1c69731a0beba52447936a0ff6"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"Asset","attributes":{"description":"Desc 1"},"relationships":{},"id":1412,"links":{"self":"/api/v1/entity/assets/1412"}},{"type":"Asset","attributes":{"description":"TEST
        2"},"relationships":{},"id":1413,"links":{"self":"/api/v1/entity/assets/1413"}},{"type":"Asset","attributes":{"description":"TEST
        3"},"relationships":{},"id":1414,"links":{"self":"/api/v1/entity/assets/1414"}}],"links":{"self":"/api/v1/entity/Asset/_search","next":"/api/v1/entity/Asset/_search?page%5Bnumber%5D=2&page%5Bsize%5D=500"}}'
  recorded_at: Tue, 15 Jun 2021 09:08:23 GMT
recorded_with: VCR 6.0.0
