---
http_interactions:
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/auth/access_token?client_id=<SCRIPT_NAME>&client_secret=<SCRIPT_KEY>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e6a73d87b370509802d8d0224a0d493"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<ACCESS_TOKEN>","expires_in":600,"refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Mon, 14 Jun 2021 06:49:34 GMT
- request:
    method: post
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset
    body:
      encoding: UTF-8
      string: '{"description":"This is a desc","project":{"id":155,"type":"Project"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Asset","attributes":{"description":"This is a desc","cached_display_name":"New
        Asset 1577","updated_at":"2021-06-14 06:49:35 UTC","created_at":"2021-06-14
        06:49:35 UTC","code":"New Asset 1577","sg_status_list":"wtg","open_notes_count":0},"relationships":{"shots":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/shots"}},"parents":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/parents"}},"assets":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/assets"}},"tasks":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/tasks"}},"mocap_takes":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/mocap_takes"}},"addressings_cc":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/addressings_cc"}},"sequences":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/sequences"}},"created_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1577/relationships/created_by","related":"/api/v1/entity/api_users/60"}},"updated_by":{"data":{"id":60,"name":"<SCRIPT_NAME>
        1.0","type":"ApiUser"},"links":{"self":"/api/v1/entity/assets/1577/relationships/updated_by","related":"/api/v1/entity/api_users/60"}},"sg_versions":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/sg_versions"}},"sg_published_files":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/sg_published_files"}},"episodes":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/episodes"}},"levels":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/levels"}},"project":{"data":{"id":155,"name":"Photo
        Site","type":"Project"},"links":{"self":"/api/v1/entity/assets/1577/relationships/project","related":"/api/v1/entity/projects/155"}},"tags":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/tags"}},"sg_vendor_groups":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/sg_vendor_groups"}},"notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/notes"}},"open_notes":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/open_notes"}},"linked_projects":{"data":[],"links":{"self":"/api/v1/entity/assets/1577/relationships/linked_projects"}}},"id":1577,"links":{"self":"/api/v1/entity/assets/1577"}}}'
  recorded_at: Mon, 14 Jun 2021 06:49:35 GMT
- request:
    method: delete
    uri: https://pasind3-prod.shotgunstudio.com/api/v1/entity/Asset/1577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Jun 2021 06:49:36 GMT
recorded_with: VCR 6.0.0
